@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_AdminLayout.cshtml";

}
@model WeCharge.Model.DTO.DashboardCountDTO
<div class="row">
    <div class="col-lg-3 col-6 cards">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@string.Format( "{0:#,#.00}", @Model.TOTAL_EARNINGS ) </h3>
                <p>Total Earnings</p>
            </div>
            <div class="icon">
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@Model.TOTAL_DIESEL_ORDER</h3>

                <p>Total Diesel Orders</p>
            </div>
            <div class="icon">
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@Model.TOTAL_BOWSER_ORDER</h3>

                <p>Total Bowser Orders</p>
            </div>
            <div class="icon">
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@Model.TOTAL_USER</h3>
                <p>Total Users</p>
            </div>
            <div class="icon">
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@Model.TOTAL_CORPORATE_USER</h3>
                <p>Total Corporate Users</p>
            </div>
            <div class="icon">
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@Model.TOTAL_INDIVIDUAL_USER</h3>
                <p>Total CRM Users</p>
            </div>
            <div class="icon">
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@Model.TOTAL_SUPPLIER</h3>
                <p>Total Vendors</p>
            </div>
            <div class="icon">
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@Model.TOTAL_ORDER</h3>
                <p>Total Orders</p>
            </div>
            <div class="icon">
            </div>
            <a href="@Url.Action("Index","Orders")" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>



<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Area Chart</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="chart">
            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <canvas id="areaChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 487px;" width="487" height="250" class="chartjs-render-monitor"></canvas>
        </div>
    </div>

</div>

    <script>
   
    </script>